<!DOCTYPE html>
<html lang="en" style="height:100%">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - _188252_BT2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_188252_BT2.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href=~/css/grid.css />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">


    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/css/layout.css">


    @RenderSection("styleCssProduct", required:false)
    @RenderSection("scriptJsProduct", required:false)



</head>
<body>
    <header class="header-bg">
        <div class="grid wide">
            <div class="row">
                <div class="header-item">

                    <section>
                        <a class="top-header" href="#">
                            <img class="topbardesk" src="~/img//TopBarDesk-1200x44-2.png" />
                        </a>
                    </section>
                </div>
                <div class="grid wide">
                    <div class="row">
                        <div class="header-main">
                            <partial name="Layout_Partial/Header_Partial/_Header_Section-top" model="@Model" />
                            <partial name="Layout_Partial/Header_Partial/_Header_Section-bottom" model="@Model" />
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </header>

    <div>
        <main role="main">

            @RenderBody()
            @RenderSection("scriptJsBJqueryProduct", required:false)
            @RenderSection("scriptSliderProduct", required:false)

        </main>
    </div>
    <footer>
        <div class="footer-lead " style="background-color: #ed1164;
        color: #fff;
        position: relative;">
            <div class="grid wide">
                <section>
                    <div class="row">
                        <partial name="Layout_Partial/Footer_Partial/_Footer_BoxItem" model="@Model" />

                    </div>

                    <partial name="Layout_Partial/Footer_Partial/_Footer_MKT" model="@Model" />

                </section>

            </div>
            <partial name="Layout_Partial/Footer_Partial/_Footer_Logo" model="@Model" />

        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
