@model _188252_BT2.Models.CollectionDataModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

@section styleCssProduct{

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
      integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />


<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/owl.theme.default.min.css">
<link rel="stylesheet" href="~/js/owl.carousel.min.js" />

<link rel="stylesheet" href="~/css/slide.css" />
<link rel="stylesheet" href="~/css/grid.css">
<link rel="stylesheet" href="~/css/reset.css">
<link rel="stylesheet" href="~/css/site.css">
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<link rel="stylesheet" href="~/css/main.css">

}

@section scriptJsProduct{
<script src=”https://code.jquery.com/jquery-1.12.4.js”></script>
<script src=”https://code.jquery.com/ui/1.12.1/jquery-ui.js”></script>
}



<div class="content">
    <div class="grid wide">
        <ul class="nav-link-top">
            <li>Đồ chơi</li>  &nbsp; > &nbsp;
            <li>Lego</li>

        </ul>
        <div class="row">
            <div class="col l-6">

                <div class="product">

                    <partial name="Product_Parital/_Product_Slider" model="@Model" />


                    <div class="article content-t-wrap">
                        <div class="article__content showall review-post short">
                            <partial name="Product_Parital/_Product_Detail" model="@Model" />
                        </div>
                    </div>
                    <div class="bg"></div>
                </div>


            </div>
            <div class="col l-6">
                <div class="detail">
                    <partial name="Product_Parital/_Product_BoxInfo" model="@Model" />


                    <partial name="Product_Parital/_Product_Policy" model="@Model" />


                    <partial name="Product_Parital/_Product_MoreInfo" model="@Model" />


                </div>
            </div>
        </div>

        <div class="detail-product">
            <partial name="Product_Parital/_Product_Different" model="@Model" />

        </div>
        <partial name="Product_Parital/_Product_Form" model="@Model" />


    </div>

</div>


<partial name="Product_Parital/_Product_CommitMent_List" model="@Model" />





@section scriptJsBJqueryProduct{
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

}

@section scriptSliderProduct{
<script type="text/javascript">
    $('.owl-carousel').owlCarousel({
      loop: false,
      margin: 10,
      nav: true,
      dots: false,
      responsive: {
        0: {
          items: 1
        },
        600: {
          items: 1
        },
        1200: {
          items: 1
        }
      }
    })
</script>

}







