@model _188252_BT2.Models.CollectionDataModel


<div class="product">
    @for (int index = 0; index < @Model.productList.Count(); index++)
    {
            @*<img src="@Model.product.Product_Img" alt="hinh">*@
    
        <div class="mySlides">
            <img src="@Model.product.ProductListImg[index]" alt="hinh">

            @*<img src="@Model.productList[index].Product_Img" alt="hinh">*@
        </div>
    }   

    <div class="product-navi">
        <div class="click-fullscreen">
        </div>
        <div class>
            <a class="prev" onclick="plusSlides(-1)">❮</a>

            <a class="next" onclick="plusSlides(1)">❯</a>
            @*<div class="counter">
                <span class="counter-current">
                    1
                </span>
                 <span class="counter-current">
                    4
                </span>
            </div>*@
        </div>

    </div>

    <div class="row-slide">
        @for (int index = 0; index < @Model.productList.Count(); index++)
        {
            <div class="column">
                <button>
                    <div class="dotitem">
                        <img class="demo cursor" src="@Model.product.ProductListImg[index]" alt="hinh">
                    </div>
                </button>
            </div>

        }
    </div>
</div>